<main class="test-person-info"></main>
<nav class="test-person-list"></nav>
<nav class="test-person-nav">
    <a class="test-person-nav-prev" href="">&#8592;</a>
    <div class="test-person-nav-current"></div>
    <a class="test-person-nav-next" href="">&#8594;</a>
</nav>