{{#each []}}
<a class="test-person-item" href="#/{{this.id}}" id="test-item-{{this.id}}">
    <span class="test-person-item-name">{{this.first_name}}</span>
    <span class="test-person-item-age">{{this.age}}</span>
</a>
{{/each}}