<div class="test-person-info-aside-data">{{first_name}}</div>
<div class="test-person-info-aside-data">{{last_name}}</div>
<div class="test-person-info-aside-data">{{age}}</div>
<div class="test-person-info-aside-data">{{location}}</div>